@layout HomeLayout

<p id="@Id" name="@Id"/>
<RadzenHeading Size="H1" Text="@Title" Visible="@(Source !=null && Source.Any())" />
<RadzenDataList Visible="@(Source !=null && Source.Any())" WrapItems="true" AllowPaging="false" Data="@Source" TItem="FoodPlate">
    <Template Context="foodPlate">
        <RadzenCard Style="max-width:400px;">
            <div class="d-flex flex-row align-items-center">
                <RadzenImage Path="@foodPlate.Photo" Class="rounded-circle float-left mr-3" Style="width: 80px; height: 80px;" />
                <div>

                    <h4 class="mb-0">@(foodPlate.Name)</h4>
                    <div>@foodPlate.Description</div>
                </div>
            </div>
            <hr style="border: none; background-color: rgba(0,0,0,.08); height: 1px; margin: 1rem 0;" />
            <div class="row">
                <div class="col-md-4 text-truncate">
                    <b>Precio: @string.Format(new System.Globalization.CultureInfo("ES-es"), "{0:C}", foodPlate.Price)</b>
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>

@code {
    [Parameter]
    public IEnumerable<FoodPlate> Source { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Id { get; set; }
}
