@using Microsoft.AspNetCore.Components.Authorization
@*
    The Router component displays whichever component has a @page
    directive matching the current URI.
*@
 
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Startup).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <p>Determining session state, please wait...</p>
                </Authorizing>
                <NotAuthorized>
                    <h1>No esta autorizado</h1>
                    <p>Para poder ver esta seccion es necesario <a href="login?redirectUri=/">iniciar sesión</a>.</p> 
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>